<div class="mt-5">
    <form>
        <div class="form-group">
            <label for="input-search">Từ khóa</label>
            <input type="text" class="form-control" id="input-search" placeholder="Search text" name="search"
                autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>